// globlal.
@import "./styles/providerColors"; // Provider colors.
@import "./styles/providerFontSize"; // Provider Font size.

// Pages.
@import "./pages/loginPage/loginPage"; // Login page content outlot register/signIN.
@import "./pages/homePage/homePage"; // Home page conetent drawer and new routes.

// SubPages
@import "./pages/subPages/myIdSubPage/myIdSubPage"; // QR.

// Components.
@import "./components/logoReserbar/logoReserbar"; // Logo reserbar.
@import "./components//customInputForm/customInputForm"; // Custom input for forms.
@import "./components/customSubmitInputForm/customSubmitInputForm"; // Custom input submit for forms.
@import "./components/drawerFooterNavLinks/drawerFooterNavLinks"; // NavLinks in the drawer or footer (see responsive)

// View.
@import "./views/signIn/signInView"; // View Sign in.
@import "./views/register/registerView"; // View Register.

body {
    margin: 0;
}
