.linkContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 80%;
    height: 8vh;
}

.navigateLinkActive {
    transform: scale(1.1);
    color: $color-primary;

    @media (max-width: 900px) {
        transform: translateY(10px);
    }

    & svg {
        min-height: $fontSize-32;
        font-size: $fontSize-32;
    }

    & h3 {
        font-size: $fontSize-14;
        transform: translateY(-10px);
    }
}
.navigateLinkDisable {
    transition: 1s;
    color: $color-lightGrey;

    @media (max-width: 900px) {
        transform: translateY(10px);
    }

    & svg {
        min-height: $fontSize-32;
        font-size: $fontSize-32;
    }

    & h3 {
        font-size: $fontSize-14;
        transform: translateY(-10px);
    }
}
