.targetInfoUser {
    width: 100%;
    text-align: start;

    & div:nth-child(1) {
        color: $color-primary;
        font-size: $fontSize-18;

        @media (max-width: 900px) {
            font-size: $fontSize-14;
        }
    }

    & div:nth-child(2) {
        // color: $color-lightGrey;
        font-size: $fontSize-14;
    }
}
